* {
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
}
/* Containeres */
#container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#kanban {
  margin-top: 3rem;
  height: 500px;
  width: 1125px;
  display: grid;
  grid-template-columns: 13% 13% 13% 13% 13% 13% 13%;
  justify-content: center;
  column-gap: 10px;
  padding: 18.5px;
  border-radius: 15px;
}

/* Cards dias da semana */
#segunda,
#terca,
#quarta,
#quinta,
#sexta,
#sabado,
#domingo {
  background-color: lch(83.38% 66.01 133.28 / 0.737);
  box-shadow: 5px 5px 5px black;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
}

/* Titúlo cards */

.titulo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  box-sizing: content-box;
  width: 125px;
  height: 23px;
  border-bottom: 1px solid whitesmoke;
}
.titulo > h4 {
  color: white;
}

/* Modal overlay*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.199);
  background-color: rgba(0, 0, 0, 0.205);
}

/* Card Modal */
.modal-content1 {
  background-color: oklch(55.108% 0.10661 136.849 / 0.975);
  margin: 10% auto;
  width: 330px;
  min-height: 300px;
  padding: 10px;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#criar-refeicao {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  width: 300px;
}
.titulo-criar-refeicao {
  color: #ffffff;
  border-radius: 15px;
  text-align: center;
  align-self: flex-start;
}
.input-botao-criar-refeicao {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  margin-bottom: 20px;
}
#nomeRefeicao {
  height: 30px;
  width: 150px;
  padding: 10px;
  background-color: lch(83.38% 66.01 133.28 / 0.737);
  border-radius: 50px;
  text-align: center;
  border: none;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}
#nomeRefeicao::placeholder {
  color: rgba(255, 255, 255, 0.041);
}
#nomeRefeicao:focus {
  border: none;
}
#submitModel1 {
  height: 70px;
  width: 70px;
  border-radius: 70px;
  border-style: none;
  border: none;
  box-shadow: 0px 5px 5px black;
}

.modal-content2 {
  background-color: oklch(55.108% 0.10661 136.849 / 0.975);
  margin: 10% auto;
  width: 330px;
  min-height: 300px;
  padding: 30px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.titulo-criar-itemRefeicao {
  color: white;
  text-align: center;
  margin-bottom: 15px;
}
.input-criar-itemRefeicao {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#ingrediente {
  height: 30px;
  width: 150px;
  padding: 5px;
  background-color: lch(83.38% 66.01 133.28 / 0.737);
  border-radius: 50px 0px 0px 50px;
  text-align: center;
  border: none;
  color: rgb(255, 255, 255);
  margin-right: 2px;
}
#quantidade {
  height: 30px;
  width: 150px;
  padding: 5px;
  background-color: lch(83.38% 66.01 133.28 / 0.737);
  border-radius: 0px 50px 50px 0px;
  margin-left: 2px;
  text-align: center;
  border: none;
  color: rgb(255, 255, 255);
}
.botao-itemRefeicao {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
#btnAdcItem {
  height: 30px;
  width: 80px;
  border-radius: 70px;
  border-style: none;
  border: none;
  box-shadow: 0px 5px 5px black;
}

#finishbtn {
  margin-top: 100px;
  align-self: center;
}

/*Fechar card modal*/
.close {
  margin-bottom: 150px;
  color: #aaa;
  float: right;
  display: none;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/*Iniciar fluxo de adição de refeição*/
.adcbtn {
  margin-top: 10px;
  width: 40px;
  height: 40px;
  background-color: oklch(55.108% 0.10661 136.849 / 0.975);
  border: none;
  border-radius: 100%;
  transition: box-shadow 0.3s ease;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  cursor: pointer;
  text-align: center;
}
.adcbtn:hover {
  box-shadow: 0px 0px 5px whitesmoke;
}
